body {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    background-color: #28282d;
    color: #e9e9e9;
    line-height: 1.6;
}

.hamburger-menu {
    display: none;
    /* Hidden by default, will be shown on mobile */
    align-items: center;
    justify-content: center;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    /* Size of the hamburger menu icon */
    color: gray;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}

#wrapper {
    margin-top: 10px;
    width: 90%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}


header h1 {
    text-align: right;
    font-size: 26px;
    margin-bottom: 8px;
}

header h2 {
    margin-top: 0px;
    margin-bottom: 24px;
    text-align: right;
    font-size: 21px;
    color: #a3a3a3;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: left;
    font-size: 19px;
    color: #9e9e9e;
}

header img {
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
}

.story-image {
    height: auto;
    width: 100%;
}

nav {
    margin-top: 50px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 8px 0;
    border-bottom: 1px solid #2b2c31;
}

.logo {
    text-align: left;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}

.menu1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: #c8c8c8;
    font-weight: bold;
}

nav a:hover {
    color: #c55353;
}

section {
    margin-bottom: 36px;
    text-align: left;
}

article p:last-child {
    margin-bottom: 72px;
}

article h3 {
    margin-bottom: 12px;
    color: #b1b1b1;
}

footer {
    margin-top: 30px;
    min-height: 32px;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    color: #b2b2b2;
}

footer a {
    text-decoration: none;
    color: #bbbbbb;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    color: gray;
}

.social .fa {
    font-size: 3em;
    padding: 12px;
    color: gray;
}

.books {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    max-width: 100%;
}

.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2 {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.im3 {
    grid-column: 7 / 13;
    grid-row: 1 / 6;
}

.im4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3 / 6;
}

.im5 {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
}

.im6 {
    grid-column: 1 / 7;
    grid-row: 5 / 9;
}

.im7 {
    grid-column: 7 / 10;
    grid-row: 5 / 7;
}

.im8 {
    grid-column: 10 / 13;
    grid-row: 5 / 7;
}

.im9 {
    grid-column: 7 / 10;
    grid-row: 7 / 9;
}

.im10 {
    grid-column: 10 / 13;
    grid-row: 7 / 9;
}

.im11 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
}

.im12 {
    grid-column: 4 / 7;
    grid-row: 9 / 11;
}

.im13 {
    grid-column: 7 / 13;
    grid-row: 9 / 13;
}

.im14 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 11 / 13;
}

.im15 {
    grid-column: 4 / 7;
    grid-row: 11 / 13;
}

/* Hover style */
.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.books img {
    width: 100%;
    /* height: 100%;
    object-fit: cover; */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hover-text {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: opacity 0.3s easy;
}

.books figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.books figure:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.im:hover {
    filter: blur(2px);
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.books img,
.story-image {
    border-radius: 10px;
}

.books>div {
    text-align: center;
    padding: 12px;
}

.books figure {
    margin: 0;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 13px;
    color: #a7a7a7;
}

/* Mobile Screens */
@media (max-width: 1024px) {
    .hamburger-menu {
        /* Ensure hamburger menu is visible and aligned */
        display: flex;
        /* Center the button vertically */
        align-items: center;
    }

    #wrapper {
        margin-top: 0;
    }

    nav {
        /* width: 100%;
        margin: 0;
        padding: 6px 0 10px;
        line-height: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid #111;
        background: #303030;
        z-index: 1000;
        color: #cccccc;
        gap: 8px; */
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid black;
        background: black;
        z-index: 1000;
        color: whitesmoke;
    }

    header img {
        margin-top: 0 !important;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .logo img {
        height: 40px;
        width: auto;
        display: block;
        margin: 0;
    }

    .menu1 {
        /* width: 100%;
        display: flex;
        justify-content: center;
        gap: 14px;
        flex-wrap: wrap;
        margin: 0;
        padding: 0; */
        display: none;
        position: fixed;
        top: 0;
        width: 100;
        height: 100;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
    }

    .menu1 a,
    .menu a:hover {
        text-decoration: none;
        color: gray;
        background-color: transparent;
    }

    .close-menu {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: gray;
    }

    .menu-deployed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: whitesmoke;
        z-index: 1000;
        padding-top: 50px;
    }

    button {
        border-width: 0px;
        background-color: whitesmoke;
    }

    .books {
        /* grid-template-columns: auto auto auto auto;
        gap: 12px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        grid-auto-flow: row dense;
    }

    /* Any class that starts with "im" */
    .books [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .books img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* transition: transform 0.3s ease, opacity 0.3s ease; */
    }

    .left-stories {
        grid-column: 1 / 3;
        margin: 0;
        padding: 0;
    }

    .stories {
        grid-column: 1 / 3;
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .story-image {
        width: 100%;
        height: auto;
    }

    /* .books {
        grid-template-columns: auto auto;
        gap: 15px;
    } */
}